<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxHkGgxGVYtP1wPbtSLraHcDNv_dxDrqo</string>
	<key>GCM_SENDER_ID</key>
	<string>271966691973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orgami.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>orgami-53cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>orgami-53cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271966691973:ios:fa8c59ee4196b0fa9c7fec</string>
</dict>
</plist>